/build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/src/main/java/ru/coolhabit/firstapp/data/API.kt
*.iml
/google-services.json
